<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAPnHKRCD8zfnJVMbG0__yY7PVlIoMhwN4</string>
	<key>GCM_SENDER_ID</key>
	<string>1071802428276</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.newsapp5.ios</string>
	<key>PROJECT_ID</key>
	<string>newsapp5-d0ca5</string>
	<key>STORAGE_BUCKET</key>
	<string>newsapp5-d0ca5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1071802428276:ios:4813beb4cf3bdc828d9a21</string>
</dict>
</plist>